.navmenu-photo-grid-item {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 0 200px rgba(0, 0, 0, 0.9) inset;
}

.navmenu-photo-grid-item .image {
  position: absolute;
  width: 100%;
  height: 100%;
  filter: brightness(0.5);
}

.navmenu-photo-grid-item .title {
  position: absolute;
  z-index: 0;
  bottom: 1rem;
  left: 1rem;
  width: 80%;
  padding: 0;
  margin: 0;
  color: #fff;
  text-align: left;
  font-size: 1.5rem;
  font-weight: 200;
  font-family: PF din Display;
  text-wrap: wrap;
  text-transform: capitalize;
}

.navmenu-photo-grid-item:hover .image {
  transform: scale(1.1);
  transition: 500ms ease;
}
@media (max-width: 768px) {
  .navmenu-photo-grid-item .title {
    font-size: 0.8rem;
    bottom: 0.5rem;
    left: 0.5rem;
  }
}
